.portrait{
    /* background: url('/images/portrait.png') no-repeat center center/cover;
    height: 500px;
    border: 2px solid red;
    background-size: 130%; */
    width: 100%;
    z-index: -1;
    transform: scale(2.6) translateX(-10px) translateY(-20px);
  }